<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>   
    <title>Shop | Funkoshop </title>  
</head>

<body>
    <%- include('../partials/header') %>
    <main class="shop container">
        <aside class="shop-filters">
            <div class="filters-search">
                <label  class="filters-title" for="search">BUSCAR:</label>
                <input type="text" name="search" id="search" placeholder="item o categoría">
            </div>
            <div class="filters-order">
                <label  class="filters-title" for="orderby">ORDERNAR POR:</label>
                <select name="orderby" id="orderby">
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="desc">Mayor precio</option>
                    <option value="asc">Menor precio</option>
                </select>
            </div>
            <div class="filters-price">
                <span class="filters-title" >PRECIO</span>
                <div>
                    <label for="min">MIN</label>
                    <input type="text" name="min" id="min" placeholder="0">
                    <label for="max">- MAX</label>
                    <input type="text" name="max" id="max" placeholder="0">
                </div>
            </div>
            <div class="filters-checks">
                <span class="filters-title" for="filter">FILTRAR</span>
                <div>
                    <input type="checkbox" name="filter" id="news" value="news">
                    <label for="">NUEVOS</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="offers" value="offers">
                    <label for="">OFERTAS</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="specials" value="specials">
                    <label for="">EDICIÓN ESPECIAL</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="favs" value="favs">
                    <label for="">FAVORITOS</label>
                </div>
            </div>
        </aside>
        <section class="shop-content">
            <ul class="shop-items"> 
            <% items.forEach( item => { %>
                <li class="shop-item">
                    <article  class="card-item" >
                        <a href="/shop/item/<%= item.product_id%>"> 
                            <picture class="card-item-picture"> 
                                <span class="card-item-tag">Nuevo</span>
                                <img class="card-item-img-front" src="../../img<%= item.image_front%>" alt="Figura coleccionable de Funko de Storm Tropper de Star Wars">
                                <img class="card-item-img-back" src="../../img<%= item.image_back%>" alt="Figura coleccionable de caja de Funko de Storm Tropper de Star Wars">
                            </picture>
                            <div class="card-item-div"> 
                                <p class="card-item-div-text"><%= item.licence_name%></p>
                                <h4 class="card-item-div-title"><%= item.product_name%></h4>
                                <p class="card-item-div-price"><%= item.price%></p>
                                <p class="card-item-div-offers"><%= item.dues%> COUTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <% }); %>  
            </ul> 
            <div class="pagination">
                <a class="pagination-link"><iconify-icon icon="material-symbols:chevron-left-rounded"></iconify-icon></a>
                <a class="pagination-link pagination-link--selected">1</a>
                <a class="pagination-link">2</a>
                <a class="pagination-link">...</a>
                <a class="pagination-link">9</a>
                <a class="pagination-link">10</a>
                <a class="pagination-link"><iconify-icon icon="material-symbols:chevron-right"></iconify-icon></a>
            </div>   
        </section>
    </main>
        
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>